.link {
  cursor: pointer;
  text-decoration: underline;

  &Unstyled {
    color: $secondaryColor;
    text-decoration: none;
  }
}

.listUnstyled {
  list-style-type: none;
}

.hidden {
  display: none !important;
}

.hiddenMdUp {
  @include respond-to-min(md) {
    display: none !important;
  }
}

.hiddenOnMobile {
  @include respond-to-min(md) {
    display: block !important;
  }
  display: none !important;
}

.relative {
  position: relative;
}
