$sectionSeparatorPadding: (
        style: padding,
        default: 10rem 0 5rem,
        sm: 15rem 0 5rem,
        lg: 25rem 0 5rem,
        xl: 35rem 0 5rem
);

$sectionSeparatorFontSize: (
        style: font-size,
        default: 2.5rem,
        sm: 3rem,
        md: 3.5rem
);
